<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @car.direction %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @car.floor.level %>
</p>

<p>
  <strong>Passengers:</strong>
  <% @car.passengers.each do |p| %>
    <p>
      <%= link_to "#{p.name}", p %><br/>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
